<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worbes.adapter.mybatis.item.ItemMapper">

    <select id="findItemsBySearchQuery"
            resultType="com.worbes.application.item.port.out.FindItemResult">
        SELECT
        id,
        name,
        level,
        class_id,
        subclass_id,
        inventory_type,
        quality,
        icon,
        crafting_tier,
        is_stackable,
        expansion_id,
        created_at,
        updated_at
        FROM item
        WHERE 1 = 1

        <if test="query.classId != null">
            AND class_id = #{query.classId}
        </if>

        <if test="query.subclassId != null">
            AND subclass_id = #{query.subclassId}
        </if>

        <if test="query.name != null and query.name != ''">
            AND EXISTS (
            SELECT 1
            FROM jsonb_each_text(name)
            WHERE value ILIKE CONCAT('%', #{query.name}, '%')
            )
        </if>
    </select>

</mapper>
